@import '../imports/variables';
@import '../imports/mixins';

.collapse {
  border: none;
  max-width: 1024px;
  width: 100%;
  @media (max-width: 768px) {
    max-width: 582px;
  }
  @media (max-width: 400px) {
    max-width: 335px;
  }
}

.collapse-button {
  padding: 10px 15px;

  cursor: pointer;
  @include row-jsb-ac;
  background-color: $bg-color-light;
  color: $secondary-color;
  height: 54px;
  font-size: $medium;
  font-weight: $bold;
  transition: ease-in 0.5s;

  &:hover {
    color: $main-color;
  }
  @media (max-width: 768px) {
    height: 52px;
    font-size: $normal;
  }
  @media (max-width: 400px) {
    height: 30px;
    font-size: 13px;
  }
}

.content {
  padding: 10px 15px;

  @include row-js-ac;
  text-align: justify;
  background-color: $secondary-color;
  font-size: $normal;
  font-weight: $light;
  @media (max-width: 400px) {
    font-size: $smallest;
  }
}

.content-parent {
  height: 0px;
  overflow: hidden;
  transition: height ease 0.5s;
}

.chevron-open {
  transform: rotate(-180deg);
  transition: 0.5s;
  font-size: $medium;
  @media (max-width: 400px) {
    font-size: 16px;
  }
}

.chevron-close {
  transition: 0.5s;
  font-size: $medium;
  @media (max-width: 400px) {
    font-size: 16px;
  }
}
