@import '../imports/variables';
@import '../imports/mixins';

.ContactMe {
  width: 500px;
  font-size: $medium;
  @include col;
  @media (max-width: 1024px) {
    font-size: $normal;
  }
  @media (max-width: 768px) {
    width: 90%;
    font-size: $normal-small;
  }
  label {
    color: $secondary-color;
    margin-bottom: 10px;
  }
  .input-txt {
    font-size: $medium;

    height: 40px;
    width: 100%;
    margin-bottom: 20px;
  }
  .input-select {
    font-size: $medium;
    border: none;
    border-radius: 0;
    padding: 0 10px;
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
    @media (max-width: 1024px) {
      font-size: $normal;
    }
    @media (max-width: 768px) {
      font-size: $normal-small;
    }
    @media (max-width: 400px) {
      font-size: $small;
    }
  }
  textarea {
    height: 200px;
  }
}

.submit {
  margin-top: 40px;
  height: 40px;
  padding: 0px 20px;
  @media (max-width: 1024px) {
    margin-top: 30px;
  }
  @media (max-width: 768px) {
    margin-top: 20px;
  }
}
