@import '../imports/variables';
@import '../imports/mixins';

/* styles du footer */

.footer {
  padding: 20px 0;
  align-self: center;
  width: 100%;
  // background-color: $secondary-color;
  @include col-ac;
  gap: 10px;
}

.footer-text {
  text-align: center;
  color: $secondary-color;
}
.footer-logo {
  height: 100px;
}
