@import '../imports/variables';
@import '../imports/mixins';

/* styles du header */

.Header {
  padding-top: 40px;
  @include row-jsb-ac;
  nav {
    display: flex;
    gap: 57px;
    a {
      font-size: $medium;
      font-weight: $regular-bold;
      color: $secondary-color;
      transform: color;
      &:hover {
        transition: 0.5s ease-in-out;
        color: $main-color;
      }
    }
  }
  @media (max-width: 1280px) {
    padding-top: 20px;
  }
  @media (max-width: 768px) {
    nav {
      gap: 15px;
      a {
        text-transform: uppercase;
        font-size: $smallest;
      }
    }
  }
}

.highlight {
  text-decoration: underline;
}

.header-logo {
  height: 80px;
}
