@import '../imports/variables';
@import '../imports/mixins';

.Tag {
  @include row-jc-ac;
  flex-wrap: wrap;
  gap: 20px;
  @media (max-width: 768px) {
    gap: 10px;
  }
  transform: color;
  :hover {
    transition: 0.5s ease-in-out;

    color: $main-color;
  }
}

.tag-txt {
  @include row-jc-ac;
  background-color: $third-color;
  min-width: 115px;
  height: 40px;
  color: $secondary-color;
  font-size: $normal;
  font-weight: $bold;
  box-sizing: border-box;
  padding: 0 10px;
  @media (max-width: 768px) {
    font-size: $small;
  }
  @media (max-width: 400px) {
    min-width: 84px;
    height: 18px;
    font-size: $smallest;
  }
}
