@import '../imports/variables';
@import '../imports/mixins';

/* styles pour la page à propos */

.Contact {
  @include col-ac;
  gap: 38px;
  @media (max-width: 768px) {
    gap: 19px;
  }
}

.contact-form {
  @include col-ac;
  @include shadow;
  width: 100%;
  height: auto;
  padding: 40px;
  background-color: $bg-color-light;
  h2 {
    text-align: center;
    margin-bottom: 40px;
  }
}
