@import '../imports/variables';
@import '../imports/mixins';

/* styles pour la page à propos */

.Contact {
  @include col-ac;
  gap: 40px;
  @media (max-width: 1024px) {
    gap: 30px;
  }
  @media (max-width: 768px) {
    gap: 20px;
  }
}

.contact-form {
  @include col-ac;
  @include shadow;
  width: 100%;
  height: auto;
  padding: 40px;
  background-color: $bg-color-light;
  h2 {
    text-align: center;
    margin-bottom: 40px;
    @media (max-width: 1024px) {
      margin-bottom: 30px;
    }
    @media (max-width: 768px) {
      margin-bottom: 20px;
    }
  }
  @media (max-width: 1024px) {
    padding: 30px;
  }
  @media (max-width: 768px) {
    padding: 20px;
  }
}
