@import '../imports/variables';
@import '../imports/mixins';

/* styles pour la page d'acceuil */

.Home {
  @include col-ac;
  gap: 50px;
  @media (max-width: 768px) {
    gap: 22px;
  }
}

.about-me {
  width: 100%;
  padding: 40px;
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  @include row-jsb-ac;
  gap: 40px;
  background-color: $bg-color-dark;
  .photo-profil {
    height: 600px;
    border: 5px solid $main-color;
  }

  .description {
    @include col-jsb-ac;
    height: 600px;
    gap: 20px;

    .description-txt {
      padding: 20px;
      background-color: $bg-color-light;
      color: $secondary-color;
      font-size: $medium;
      font-weight: $regular;
      height: 80%;
      text-align: justify;
    }

    .about-links {
      width: 100%;
      @include row-jsb-ac;

      .link {
        width: 45%;
      }
    }
  }
}

.skills {
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  width: 100%;
  padding: 40px;
  background-color: $bg-color-dark;
  @include col-ac;
  gap: 20px;
  .skills-collapse {
    @include row-jsb;
    width: 100%;
  }
}
