@import '../imports/variables';
@import '../imports/mixins';

.Portfolio {
  @include col-ac;
  gap: 30px;
  width: 100%;
}

.Portfolio-cards {
  width: 100%;
  @include col-ac;
  gap: 30px;
}

.project-card {
  width: 100%;
}
